<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
            <remove statusCode="500" />
            <error statusCode="500" path="/500.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
